<div class="row center">
    <div class="container bg-light center">
        <!--=========HEADER==========-->
        
            <app-navbar></app-navbar>

        <!--=========SERACH==========-->

            <app-search></app-search>
        
        <!--========carts============-->
            
            <app-carts></app-carts>

        <!--=========DATABASE==========-->
        
            <router-outlet></router-outlet>

        <!--=========FOOTER==========-->
        
            <app-footer></app-footer>

     </div>
 </div>
