<div class="row center">
    <div class="container bg-light center">

 <!--=========HEADER==========-->
     <app-navbar></app-navbar>
     <div class="row center">
        <p class="font-weight-bold mt-3 pt-3">WHAT’S THE EASIEST, QUICKEST AND CHEAPEST THING SELLERS CAN DO TO THEIR HOME THAT WILL HAVE THE GREATEST IMPACT?</p>
“Decluttering the home has an immediate psychological reward for both the seller and for prospective buyers,” says Daniella. “Use decluttering as an opportunity to pack and purge. Put away everything that is not currently in use, remove personal effects, family photos and unnecessary decor. Furniture may have to be removed to make a space appear bigger and brighter. Complete tasks that you may have been putting off (such as organizing closets, tidying up your den or work space, organizing your kitchen cupboards, washing out the fridge and cleaning the garage). If possible, invest in a professional cleaning service to come through right before the home hits the market. A clean and well-organized house goes a long way with a potential buyer."

 

<p class="font-weight-bold mt-3 pt-3">WHAT ARE THE TOP THREE QUESTIONS BUYERS SHOULD ASK ABOUT A HOME THEY’RE INTERESTED IN?</p>
Michelle recommends asking these three questions: Have there ever been any floods or water damage in the home? Have there been any major improvements or repairs to the home and if so, were professionals used and do you have the proper permitting? What is the age of the mechanical systems?

 

<p class="font-weight-bold mt-3 pt-3">WHAT ARE YOUR BEST TIPS TO HELP A BUYER NEGOTIATE THE BEST PRICE?</p>
Use a realtor,” says Maryann. “A realtor has access to information and has the required skill set necessary for you to make an informed decision and protect your best interests when negotiating the best price."

 

<p class="font-weight-bold mt-3 pt-3">HOW IMPORTANT IS STAGING TO THE SELLING PROCESS?</p>
“It is very important to prepare your home for sale,” says Daniella. “Other retail sectors heavily depend on marketing to attract buyers, why would you not take the marketing of your home, your biggest investment, just as seriously? You only have one chance to make a first impression and there are often simple improvements or changes that can be made to help you put your best foot forward. Set the scene for the wow factor!"

 

<p class="font-weight-bold mt-3 pt-3">WHAT ARE YOUR TOP STAGING TIPS?</p>
“Declutter and edit,” says Michelle. “Neutralize loud wall colours and smells in the home. Make sure spaces are well lit with a consistent warmth of lighting. Curb appeal is important, tidy the lawns, re-edge flower beds, add fresh mulch and clean exterior lights. You may wish to paint the garage and front doors to suit a new trend."

 

<p class="font-weight-bold mt-3 pt-3">HOW CAN A BUYER MAKE THEIR OFFER STAND OUT?</p>
“Every situation is different and as such, every offer will be unique,” says Maryann. “Your realtor is there to guide you and gauge how to best construct your offer to suit the negotiation at hand. Your realtor will know your story, build a kind rapport with the other realtors involved and be able to present you, their client, in the best light possible."

 

<p class="font-weight-bold mt-3 pt-3">HOW CAN A BUYER GET A COMPREHENSIVE OVERVIEW OF THE HOME’S HISTORY?</p>
“Working with a professional realtor will allow for you to be provided with the best comprehensive history of the home possible by using search tools, reports and asking the right questions,” says Daniella. “A realtor will work in your best interests and protect you from the unknown. Hiring a professional inspector is also an important factor in flagging any signs of unreported issues that may serve as a problem later."
     </div>
    </div>
</div>
