<div class="row center">
    <div class="container bg-light center">

 <!--=========HEADER==========-->
      <app-navbar></app-navbar>
            <div class="row">
            <div class="col-6 mt-2 mb-2 d-block mx-auto">
            <button class="btn btn-info float-left ml-5 mt-5" [disabled]="prevDisabled" [routerLink]="['/deals', prevId]">Prev</button>
            <button class="btn btn-info float-right ml-5 mt-5" [disabled]="nextDisabled" [routerLink]="['/deals', nextId]">Next</button>
            </div>
        <div class="col-12 mt-2 mb-2">
        <img src="assets/imgs/house.jpg" width="200" height="200" class="d-block mx-auto" alt="house">
        
        <div class="col-12 text-center d-block mx-auto h3">
        {{ address }}
        </div>
        <div class="col-12 text-center d-block mx-auto h5">
        {{ description }}
        </div>
        
        <div class="col-12 text-center d-block mx-auto mb-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">price: 
            <span class="badge badge-pill badge-success">{{ price }}</span>
        </ul>
        </div>
        </div>
        
        
        </div>
    
    
    
    
    
    
    </div>
</div>
