<div class="row center">
    <div class="container bg-light center">

 <!--=========HEADER==========-->
     <app-navbar></app-navbar>
<div class="row">
        <div class="col-12 mt-1 mb-2 mt-5">
        <form class="form-inline float-right">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        
        <div class="col-12 mb-5 my-5 center">
          <div class="row">
              <div *ngFor="let i of houses; let x = index" class="col-12 col-sm-6 col-md-4 mb-2">
            <app-deals [houses]="i"></app-deals>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
