<div class="container-fluid">
  <div class="row">
    <app-navbar></app-navbar>
  </div>
  <div class="row">
      <div class="col-3">
        this is a  the side bar
      </div>
      <div class="col-7">
        this component is the main component
        <div class="row">
          <div class="col-3"> this component of index 1</div>
          <div class="col-3"> this component of index 2</div>
          <div class="col-3"> this component of index 3</div>
          <div class="col-3"> this component of index 4</div>
        </div>
      </div>
      <div class="col-2">
        this component is the aside right
      </div>
  </div>


</div>