<div class="container-fluid bg-light">
	<!--=========HEADER==========-->
	<div class="row bg-white">
		<div class="col-4 col-md-3 my-auto"> <!--logo-->
		<img src="../assets/logo-realestatel.jpg" alt="logo">
		</div>
		<div class="col-3 col-md-7 my-auto"><!--navbar-->
			<nav class="navbar navbar-expand navbar-light d-none d-md-block">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto font-weight-bold">
						<li class="nav-item">
							<a class="nav-link text-secondary" href="#">BUY</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-secondary" href="#">SELL</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-secondary" href="#">BROKER</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-secondary" href="#">TOOLS</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="col-5 col-md-2 my-auto text-md-right pr-2"><!--login-->
			<div class="dropdown float-right">
				<a class="dropdown-toggle font-weight-bold text-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					En
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink float-right">
					<a class="dropdown-item" href="#">English</a>
					<a class="dropdown-item" href="#">French</a>
				</div>
				<a routerLink="/login" > <fa-icon [icon]="faUserCog"></fa-icon></a>
			
			
				<li class="nav-item dropleft d-inline d-md-none float-right">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<fa-icon [icon]="faBars"></fa-icon>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">My History</a>
						<a class="dropdown-item" href="#">My Favorites</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Logout</a>
					</div>
				</li>
			
			</div>	
			
			
			
			
			
			
			
			
		</div>
	</div>
	<!--=========SERACH==========-->
	<div class="row bck_img">
		<div class="col my-5 py-2">
			<p class="h1 text-light font-weight-bold">Where Dreams Come Home</p> 
			<div class="bck_color">
				<form class="form-inline my-2 my-lg-0 py-4 px-4">
				  <input class="col-9 form-control" type="search" placeholder="Search by City, Neighbourhood, Region, Address or Postal Code" aria-label="Search">
				  <button class="col-3 btn btn-info text-light" type="submit">Search <i class="fas fa-search text-light"></i></button>
				<input type="range" class="custom-range pt-4" min="50000" max="2000000" step="0.1" id="customRange3">
				</form>
				<div class="row pb-3">
						<div class="col-md-2 col-sm-4 col-6 custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="customSwitch1">
						  <label class="custom-control-label" for="customSwitch1">Buy</label>
						</div>
						<div class="col-md-2 col-sm-4 col-6 custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="customSwitch2">
						  <label class="custom-control-label" for="customSwitch2">Sell</label>
						</div>
						<div class="col-md-2 col-sm-4 col-6 custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="customSwitch3">
						  <label class="custom-control-label" for="customSwitch3">rent</label>
						</div>
						<div class="col-md-2 col-sm-4 col-6 custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="customSwitch4">
						  <label class="custom-control-label" for="customSwitch4">lot</label>
						</div>
						<div class="col-md-2 col-sm-4 col-6 custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="customSwitch5">
						  <label class="custom-control-label" for="customSwitch5">House</label>
						</div>
						<div class="col-md-2 col-sm-4 col-6 custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="customSwitch6">
						  <label class="custom-control-label" for="customSwitch6">Condo</label>
						</div>
				</div>
			</div>
			
			
			
			
		</div>
	</div>
	
	<!--========carts============-->
	<div class="row">
		<div class="col-12 col-sm-6 col-lg-4 py-4 mx-auto">
			<div class="card" style="width: 18rem;">
			  <img src="../assets/vignette testament.jpg" class="card-img-top" alt="house">
			  <div class="card-body">
				<p class="card-text">If a deceased person didn’t leave a will, who is the owner of that person’s property?</p>
			  </div>
			  <a href="#" class="btn btn-primary">read more</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-4 py-4 mx-auto">
			<div class="card" style="width: 18rem;">
			  <img src="../assets/vignettevc.jpg" class="card-img-top" alt="suprise">
			  <div class="card-body">
				<p class="card-text">During the buying or selling process, a hidden defect is always a bad surprise.</p>
			  </div>
			  <a href="#" class="btn btn-primary">read more</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-4 py-4 mx-auto">
			<div class="card" style="width: 18rem;">
			  <img src="../assets/vignette.jpg" class="card-img-top" alt="kitchen">
			  <div class="card-body">
				<p class="card-text">Modernizing your kitchen to sell your home or just to make it more up-to-date can be a lot easier</p>
			  </div>
			  <a href="#" class="btn btn-primary">read more</a>
			</div>
		</div>
	</div>
	<!--=========DATABASE==========-->
		<div class="container-fluid db_padding">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#description" role="tab" aria-controls="description" aria-selected="true">Property</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#history" role="tab" aria-controls="history" aria-selected="false">Agent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#deals" role="tab" aria-controls="deals" aria-selected="false">Broker</a>
            </li>
          </ul>
        </div>
        <div class="card-body">        
           <div class="tab-content mt-3">
            <div class="tab-pane active" id="description" role="tabpanel">
			  <img src="../assets/property1.jpg" class="img_size" alt="all property">
              <p class="card-text py-2">Houses, condos, land, country homes, apartments... The Centris.ca website contains the largest number of homes for sale and for rent in Québec. </p>
               <a href="#" class="btn btn-danger btn-sm">Get Deals</a>
            </div>
             
            <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">  
              <img src="../assets/agent1.jpg" class="img_size" alt="all agents">
			  <p class="card-text py-2">When buying and selling, count on the strength of a network composed of all Québec real estate agencies on Centris.ca</p>
               <a href="#" class="btn btn-danger btn-sm">Get Deals</a>
            </div>
             
            <div class="tab-pane" id="deals" role="tabpanel" aria-labelledby="deals-tab">
				<img src="../assets/broker1.jpg" class="img_size" alt="all brokers">
              <p class="card-text py-2">Find the real estate broker who will guide you in your transaction. Search by areas served or even languages spoken.</p>
              <a href="#" class="btn btn-danger btn-sm">Get Deals</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngb-tabset>
  <ngb-tab title="Simple">
    <ng-template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
      sint qui sapiente accusamus tattooed echo park.</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
	<!--=========COURSOL==========-->
	<div class="row">
		<div class="col">
 
		</div>
	</div>
	<!--=========HOT-LINKS==========-->
	<div class="row">
		<div class="col">
 
		</div>
	</div>
	<!--=========FOOTER==========-->
	<div class="row footer_bg py-2">
		<div class="col-12 col-md-6">
		<img src="../../assets/footer.jpg" alt="logo" class="footer_img">
		</div>
		<div class="col-12 col-md-3">
		<p class="h5 mt-4">Angular Project</p>
		<p><small>Fall 2019</small></p>
		</div>
		<div class="col-12 col-md-3">
		<p class="h5">Nadhir Khayati</p>
		<p class="h6">Krisha Gopal</p>
		<p class="h6">Soheyl Rahgozar</p>
		</div>
	</div>
 </div>