<div class="row bg-white">
    <div class="col my-5">
      <ngb-tabset>
				<ngb-tab title="Property">
					<ng-template ngbTabContent>
						<div class="tab-pane active" id="description" role="tabpanel">
							<img src="assets/imgs/property1.jpg" class="img_size" alt="all property">
							<p class="card-text py-2">Houses, condos, land, country homes, apartments... The Centris.ca website contains the largest number of homes for sale and for rent in Québec. </p>
							<a routerLink="newsletter" class="btn btn-danger btn-sm text-white">Newsletter subscribe</a>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Agent">
					<ng-template ngbTabContent>
						<div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">  
              <img src="assets/imgs/agent1.jpg" class="img_size" alt="all agents">
			 				 <p class="card-text py-2">When buying and selling, count on the strength of a network composed of all Québec real estate agencies on Centris.ca</p>
               <a routerLink="newsletter" class="btn btn-danger btn-sm text-white">Newsletter subscribe</a>
            </div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Broker">
					<ng-template ngbTabContent>
						<div class="tab-pane" id="deals" role="tabpanel" aria-labelledby="deals-tab">
							<img src="assets/imgs/broker1.jpg" class="img_size" alt="all brokers">
              <p class="card-text py-2">Find the real estate broker who will guide you in your transaction. Search by areas served or even languages spoken.</p>
              <a routerLink="newsletter" class="btn btn-danger btn-sm text-white">Newsletter subscribe</a>
            </div>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
    </div>
  </div>
