<div class="row bg-white">
		<div class="col-12 col-sm-6 col-lg-4 py-4 mx-auto">
			<div class="card" style="width: 18rem;">
			  <img src="assets/imgs/vignette testament.jpg" class="card-img-top" alt="house">
			  <div class="card-body">
				<p class="card-text">If a deceased person didn’t leave a will, who is the owner of that person’s property?</p>
			  </div>
			  <a  routerLink="/Krishan_job" class="btn btn-primary">read more</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-4 py-4 mx-auto">
			<div class="card" style="width: 18rem;">
			  <img src="assets/imgs/vignettevc.jpg" class="card-img-top" alt="suprise">
			  <div class="card-body">
				<p class="card-text">During the buying or selling process, a hidden defect is always a bad surprise.</p>
			  </div>
			  <a  routerLink="/Krishan_job" class="btn btn-primary">read more</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-4 py-4 mx-auto">
			<div class="card" style="width: 18rem;">
			  <img src="assets/imgs/vignette.jpg" class="card-img-top" alt="kitchen">
			  <div class="card-body">
				<p class="card-text">Modernizing your kitchen to sell your home or just to make it more up-to-date can be a lot easier</p>
			  </div>
			  <a routerLink="/Krishan_job" class="btn btn-primary">read more</a>
			</div>
		</div>
	</div>
